//////////////////////////////BUTTON//////////////////////////////
.primary__btn,
.secondary__btn {
	padding: 6px 10px;

	border-radius: 8px;

	font-size: 1.6rem;

	transition: background 0.3s ease;
}

.primary__btn {
	color: $white;

	background-color: var(--color-contrast);
	border: 1px solid var(--color-contrast-light);

	&:hover {
		background: var(--color-contrast-light);
	}
}

.secondary__btn {
	color: var(--color-text);

	background-color: var(--color-field);
	border: 1px solid var(--color-contrast);

	&:hover {
		background: var(--color-hover);
	}
}
//////////////////////////////BUTTON//////////////////////////////
