//Margins
.m-10 {
  margin: 1rem;
}
.m-15 {
  margin: 1.5rem;
}
.m-20 {
  margin: 2rem;
}
.m-x-10 {
  margin: 0 1rem;
}
.m-x-15 {
  margin: 0 1.5rem;
}
.m-x-20 {
  margin: 0 2rem;
}
.m-y-10 {
  margin: 1rem 0;
}
.m-y-15 {
  margin: 1.5rem 0;
}
.m-y-20 {
  margin: 2rem 0;
}

.m-t-10 {
  margin-top: 1rem;
}
.m-b-10 {
  margin-bottom: 1rem;
}
.m-t-15 {
  margin-top: 1.5rem;
}
.m-b-15 {
  margin-bottom: 1.5rem;
}
.m-t-20 {
  margin-top: 2rem;
}
.m-b-20 {
  margin: 0 2rem;
  margin-bottom: 2rem;
}

.p-10 {
  padding: 1rem;
}
.p-15 {
  padding: 1.5rem;
}
.p-20 {
  padding: 2rem;
}
