.register__form {
	padding: 2rem 0;

	@include media("sm") {
		width: 50%;
	}
}

.register__inner {
	width: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	box-sizing: border-box;

	& .register__title {
		font-size: 3rem;
		margin-bottom: 30px;
	}
}
