@import "../../../../styles/utils/media";
@import "../../../../styles/utils/colors";
@import "../../../../styles/utils/shadows";
.register__form {
	width: 100%;

	margin: 0 auto;

	@include media("sm") {
		width: 50%;
	}
}
.register__form__inner {
	width: 100%;
}
.tab__group {
	width: 100%;
	// height: 50px;
	text-align: center;

	box-shadow: $mediumShadow;
	& fieldset {
		width: 100%;
		height: 100%;
		display: flex;
		position: relative;
		border: none;
	}
	& input[type="radio"] {
		position: absolute;
		opacity: 0;
	}
	& label {
		position: relative;

		display: inline-block;
		float: left;

		width: 50%;

		padding: 10px 0;

		line-height: 2rem;
		font-size: 2rem;
		color: var(--color-text);

		transition: color 0.2s linear;

		border-bottom: 2px solid var(--color-contrast);

		box-sizing: border-box;

		cursor: pointer;

		z-index: 1;
	}
	& .tab-toggled {
		color: var(--dark-text) !important;
	}
	& .switch {
		position: absolute;
		top: 0px;
		left: 0px;
		height: 100%;
		width: 50%;
		background-color: var(--color-contrast);
		-webkit-transition: -webkit-transform 0.5s;
		-moz-transition: -moz-transform 0.5s;
		transition: transform 0.5s;
	}
	& input[type="radio"]:checked + label + .switch,
	input[type="radio"]:checked + label:nth-of-type(n) + .switch {
		-webkit-transform: translateX(100%);
		-moz-transform: translateX(100%);
		-ms-transform: translateX(100%);
		-o-transform: translateX(100%);
		transform: translateX(100%);
	}
}
.tab__items {
	width: 100%;
	padding: 20px 0;

	overflow-x: hidden;
}
