.auth__container {
	max-width: 100vw;
	min-height: 100vh;

	display: flex;
	align-items: center;

	background: var(--pattern);
	background-repeat: repeat;
	background-attachment: fixed;
	// background-size: 110%;

	background-color: var(--pattern-background);
	animation: animatedBackground 1000s linear infinite;
}

.auth__container__inner {
	width: 95%;
	max-width: 975px;
	height: 100%;
	margin: 0 auto;
}
