@import '../../../../styles/utils/colors';
@import '../../../../styles/utils/media';
@import '../../../../styles/utils/shadows';
@import '../../../../styles/utils/borders';
.login__form{
    width:100%;

    display:flex;
    flex-direction: column;
    justify-content: space-between; 

    @include media('sm'){
        flex-direction: row;
    }
}
.login__form__left{
    display:flex;
    width:100%;
    padding:50px 10px;

    justify-content: center;
    align-items: center;
    
    background:url('/images/auth/leftSideBg.png');
    background-repeat: no-repeat;
     background-size: cover;
    background-color:$black;

    color:$white;
    text-align: center;
    font-size:3rem;

    box-shadow:$mediumShadow;
    box-sizing: border-box;
    @include media('sm'){
        width:40%;
    }
    & h1{
        max-width: 100%;
    }
}
.login__form__right{
    width:100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 20px;

    box-sizing: border-box;
    @include media('sm'){
        width:60%;
    }
    & .login__title{
        font-size: 3rem;
        margin-bottom:30px;
    }
}
