.avatar__picker__container {
	position: fixed;
	top: 0;
	left: 0;

	display: flex;
	justify-content: center;
	align-items: center;

	min-height: 100vh;
	height: 100vh;
	width: 100vw;
	z-index: 20;
	transition: all 0.1s linear;

	//overflow-y: auto;
}

.avatar__picker__bg {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: calc(100vh);

	@supports (backdrop-filter: blur()) {
		background-color: rgba(var(--color-background-rgb), 0.4);
		backdrop-filter: blur(5px);
	}
	@supports not (backdrop-filter: blur()) {
		background-color: rgba(var(--color-background-rgb), 0.8);
	}
	z-index: -1;
}
.avatar__picker {
	height: 95vh;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 600px;
	//width: 95%;

	padding: 200px 0;

	overflow-y: auto;

	// @include media("md") {
	// 	width: 100%;
	// }
}
.avatar__picker__inner {
	display: flex;
	flex-direction: column;
	justify-content: center;

	width: 100%;
	height: 100%;

	& .editor__wrapper {
		display: flex;
		justify-content: center;
		width: 100%;
		height: 50%;
		// flex-shrink: 1;

		& canvas {
			//	min-width: 200px !important;
			max-width: 400px;
			width: auto !important;
			height: 100% !important;
		}
	}

	& .avatar__settings {
		height: 40%;

		padding: 1.4rem;
		margin: 1rem 0;

		border-top: 2px solid var(--color-border);
		border-bottom: 2px solid var(--color-border);

		overflow-y: scroll;
	}

	& .avatar__picker__control {
		display: flex;
		justify-content: space-between;
		align-items: center;

		width: 100%;
		margin-top: 2rem;

		& .control__label {
			font-size: 2rem;
			color: var(--color-text);
		}

		& .slider {
			flex-grow: 1;
		}
		& .value {
			flex-grow: 0;
			width: 20%;

			margin-left: 3rem;

			& .value__item {
				display: block;

				width: 100%;

				padding: 5px;

				background-color: var(--color-field);

				border: 1px solid var(--color-border);
				border-radius: 5px;

				font-size: 1.8rem;
				line-height: 1.8rem;
				text-align: center;
				color: var(--color-text);

				box-sizing: border-box;
			}

			& input[type="text"] {
				appearance: none;
			}
		}
	}

	& .form__controls {
		height: 10%;

		display: flex;
		justify-content: center;
		align-items: center;

		//margin-top: 2rem;
	}
}
